!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = full_title(yield(:title))
    = favicon_link_tag('furima.favicon.svg')
    = csrf_meta_tags
    = csp_meta_tag
    %script{:src => "https://js.pay.jp/v1/", :type => "text/javascript"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.1.0/css/all.css", :integrity => "sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", :rel => "stylesheet"}/
  %body
    = yield
